@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

head, body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: darkgray
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font: 'Sriracha', cursive;
    --font3: 'Passion one', cursive;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    margin: 0px;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
    margin: 0px
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font);
    font-size: 3vw;
}

section.paralax > p {
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;

}

.fundobranco {
    background-color: white;
    color: black;
}

.paralax {
    background-color: rgb(43, 42, 42);
    color: white;
}





footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px;
}